<h2><%= titleForm %></h2>
<form action="/<%= action %>" method="post">
    <input type="text" name="task" id="task" placeholder="Insira uma tarefa" value="<%= value %>" autocomplete="off" required>
    <button type="submit" class="addButton" id="<%= idBtn %>"><%= nameBtn %></button>
</form>